*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a4abab;
}
.container{
    margin-top: 100px;
    background-color: #a4abab;
}
.container h2{
    color: #2b2929;
    text-align: center;
}
.container form{
    text-align: center;
}
.button{
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
    width: 50%;
    border: 1px solid black;
}
.container button{
    border-radius: 0;
    box-shadow: 0 0 4px 0 white;
    padding: 10px;
    margin: 10px;
    width: 50%;
    border: 2px solid black;
    background-color: #527ed1;
    color: white;
}
.container button :hover {
    font-weight: bold;
}
.container p{
    margin-left: -430px;
}
